<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jack's Profile</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <div class="master-container">
     <%= link_to "Back", root_path , class: "btn" %>
      <div class="text-center card-stuff container-bigger">
      <h1>
        <strong>THIS PAGE IS ALL ABOUT JACK GLEN</strong>
      </h1>
      </div class="card">


      <div style="display: flex; justify-content: center;">
        <%= image_tag "eating.png", class: "img" %>
      </div>

      <div class="image-circle text-center card-stuff container-bigger">
        <h2> QUESTION IS: Who Really Is Jack Glen?
        </h2>
      </div>

      <div class="card-stuff container-smaller">
        <h3>
          <ul class="fa-ul about-list">
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>AGE: 23</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Football: Watford FC </li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Basketball: Boston Celtics</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Favourite Hobby: Cooking and Eating </li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Favourite Fat To Cook With: BUTTER</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Favourite Cuisine: Italian & Japanese</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Favourite 2021 moment: Friends Reunion</li>
          </ul>
        </h3>
        </div>

        <div>
        <h2 class="card-stuff text-center container-bigger">
          No But Really, Who Is Jack????
        </h2>
      </div>

      <div class="card-stuff container-smaller">
        <h2>
          <ul class="fa-ul about-list">
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Raised by the streets of London from a 🇫🇷 mother and a 🇺🇸 father</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Avid supporter of the greatest organisation in basketball: The Boston Celtics ☘️</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Passionate chef who loves cooking for others</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Global traveller who relishes exploring new cultures and experiences</li>
            <li><span class="fa-li"><i class="fas fa-dragon"></i></span>Constantly seeking out new oppurtunities and ways to learn</li>
          </ul>
        </h2>
      </div>
      </div>
    </div>
  </body>
</html>
