<html>
  <head>
    <title>Landing Page</title>
  </head>
  <body>
    <header id="showcase">
      <h1>Hello My Name Is Jack</h1>
    </header>
    <div id="content" class="container">
      I went to university to study buisiness and sustainability, I wanted to learn to code. I am now a full stack web developer.
      <p> CSS | HTML | Ruby | Ruby on Rails | JavaScript ES6 | Bootstrap | SQL | Heroku <p>
    </div>
    <%= link_to "Projects", projects_path , class: "btn" %>
    <%= link_to "About Me", about_path , class: "btn" %>

<div class = "div-absolute">
    <ul class = "ul-home">
      <li>
        <a href="https://www.linkedin.com/in/jack-glen98/" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <span> - Linkedin</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/Glenja" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <span> - GitHub</span>
        </a>
      </li>
      <li>
        <a href= "/resume" >
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <span> - Resume </span>
        </a>
      </li>
      <li>
        <a href= "/contact" >
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <span> - Contact </span>
        </a>
      </li>
  </ul>
  </div>
  </body>
</html>
