
<ul class="cards">
  <li>
    <a href="https://github.com/sebnaylor/myspy" class="card" target="_blank" >
    <%= image_tag "myspy.png", class: "card__image"%>
      <%# <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" /> %>
      <div class="card__overlay">
        <div class="card__header">

          <div class="card__header-text">
            <h3 class="card__title">MySpy</h3>
            <span class="card__status">Fake Website To Hire People For Work</span>
          </div>
        </div>
        <p class="card__description">The first mobile app I built, worked in a team and involved a design sprint week using a Kanban layout for tasks, and Figma layout to design the app.</p>
      </div>
    </a>
  </li>
  <li>
    <a href="https://mysupermarkt.herokuapp.com" class="card" target="_blank">
      <%= image_tag "supermarkt.png", class: "card__image clear"%>
      <%# <img src= "/assets/images/supermarkt.png" class="card__image" alt="" /> %>
      <div class="card__overlay">
        <div class="card__header">

          <div class="card__header-text">
            <h3 class="card__title">Supermarkt</h3>
            <span class="card__status">Mobile App To Streamline The Group Shop</span>
          </div>
        </div>
        <p class="card__description">Worked in a team of 4 to build a grocery shopping app, and ultimately demo it aswell. This involved a design sprint week and 2 weeks of both back and front end coding. </p>
      </div>
    </a>
  </li>
  <li>
    <a href="https://github.com/Glenja/rails-yelp-mvp" class="card" target="_blank" >
    <%= image_tag "yelp.png", class: "card__image"%>
      <%# <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" /> %>
      <div class="card__overlay">
        <div class="card__header">

          <div class="card__header-text">
            <h3 class="card__title">Fake Yelp</h3>
            <span class="card__status">Built a MVC model of Yelp</span>
          </div>
        </div>
        <p class="card__description">Personally built a functioning copy of Yelp to save, review, and showcase restaurants. </p>
      </div>
    </a>
  </li>
  <div stlye= "justify-conter center">
    <%= link_to "Back", root_path , class: "btn btn-align" %>
  </div>
