<body>
<h2 class="header-style" > EDUCATION </h2>
  <h4 style="text-indent: 15%;">Le Wagon, Coding Bootcamp London, UK | Graduation Date: March 2022</h4>
    <li style="text-indent: 20%;">	Web Development: 20 weeks program learning web dev languages and building web apps</li>
  <h4 style="text-indent: 15%;">Fordham University, Gabelli School of Business, NYC, NY | Graduation Date: May 2020</h4>
    <li style="text-indent: 20%;">	BA Management, Concentration in Sustainability and Social Innovation</li>
    <li style="text-indent: 20%;">	Sports in business club, ACE club, Div. 1 Tennis Manager, Fordham Foundry Club</li>
  <h4 style="text-indent: 15%;">The American School in London, London, UK, 2002-2016</h4>
    <li style="text-indent: 20%;">	AP Spanish, Econ, Psych, Stats, Captain of basketball team, Orchestra Violin, Fashion in Business Club, Entrepreneurship Society </li>

<h2 class="header-style">PROFESSIONAL EXPERIENCE</h2>
  <h4 style="text-indent: 15%;">Café Nuances, Sustainability Consultant and Product Manager, Paris, France | June 2021-November 2021</h4>
    <li style="text-indent: 20%;">	Provided consulting advice for building a sustainable brand and image, such as ethical and traceable sourcing for coffee beans</li>
    <li style="text-indent: 20%;">  Ensured goods and services used biodegradable materials and worked on offsetting emissions from boutique and sourcing of goods </li>
    <li style="text-indent: 20%;">	Managed the boutique and brand, resulting in €30,000 monthly revenues within the first month </li>
    <li style="text-indent: 20%;">	Generated large-scale partnerships with hotels in Paris such as MOB House and fashion labels like New Era</li>
    <li style="text-indent: 20%;">  Generated product collaborations with Social Food, Sarah Andelman and JustAnIdea, these built up to €8,000 a month in revenue within the first 3 months </li>
  <h4 style="text-indent: 15%;">La P’tite Hollandaise, Founder, London, UK | May 2020 -August 2021</h4>
    <li style="text-indent: 20%;">	Founded online fashion and homeware brand centered around ethical sourcing of materials in the</li>
    <li style="text-indent: 20%;">	Built online website and ecommerce platform to sell goods I designed, sourced, and made myself</li>
    <li style="text-indent: 20%;">	Generated 3 partnerships with café and hotels in London to design kitchenware for their spaces</li>
  <h4 style="text-indent: 15%;">Informa & Informa Markets, Corporate Sustainability Consultant and Analyst, NYC, NY | July 2019 - June 2020</h4>
    <li style="text-indent: 20%;">	Worked with the United Nations and their sustainable development goals to implement the 15-year sustainability plan which launched in March 2020 </li>
    <li style="text-indent: 20%;">	Built proposal to integrate an internal sustainability ranking system for brands associated with Informa Markets and tradeshows to become gold standard </li>
    <li style="text-indent: 20%;">	Managed 1,400 exhibitors at the Coterie 2019 show and ensured they met standards and regulations for sustainability at Informa</li>
  <h4 style="text-indent: 15%;">London Basketball Association, Operations/Product Management, London, UK | July 2012 - July 2017</h4>
    <li style="text-indent: 20%;">	Built strong partnership programs with UK brands such as Nandos, National lottery, and BBC children In Need,
    <li style="text-indent: 20%;">  Over the 15 years helped save an annual average of £18,000,000</li>
    <li style="text-indent: 20%;">	Oversaw/assisted with hiring of 600 coaches, collected data required for children who participated in the LBA program, and managed the database for all LBA</li>

<h2 class="header-style"> ADDITIONAL EXPERIENCE </h2>

    <li style="text-indent: 20%;"> 	Fordham University Men’s Tennis, Manager, New York City, NY |September 2017 - May 2019 </li>
    <li style="text-indent: 20%;"> CFA Exam Level 2, Proctor, London England | May 2017, May 2018 </li>
    <li style="text-indent: 20%;"> Murphy Maintenance, Associate Worker, London, United Kingdom | May - August 2016 </li>
    <li style="text-indent: 20%;"> The American School in London, Head Counselor, London, UK | June 2015, June - July 2016 </li>
    <li style="text-indent: 20%;"> Umfolozi Ecology Expedition, Umfolozi, South Africa | March 2016 </li>
    <li style="text-indent: 20%;"> London Sport, U13 Head Basketball Coach, London, UK | September - March 2015, 2016 </li>
    <li style="text-indent: 20%;"> Adventure Playground, Charity Site Leader, London, UK | September 2015 - May 2016 </li>


<h2 class="header-style">SKILLS AND LANGUAGES</h2>

    <li style="text-indent: 20%;">	Proficient in Office 365 </li>
    <li style="text-indent: 20%;"> Ruby, Ruby on Rails, HTML, SQL , CSS, JavaScript </li>
    <li style="text-indent: 20%;">	Native French and English speaker, Proficient in Spanish </li>
    <li style="text-indent: 20%;">	BLS and CPR certificates </li>
    <li style="text-indent: 20%;">	Blomberg Certification, Tableau, Salesforce Oracle DB </li>

<%= link_to "Back", root_path , class: "btn btn-align" %>
</body>
